<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
</head>

<body>
  <header>
    <img  src="https://preview.ibb.co/ghoU70/image.png" height="100px" width='100px'>
  </header>
</body>

</html>
