<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Decision Maker: Results</title>
  <% include partials/_header %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/admin.css">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/admin.js"></script>
  <script>
    var myobj = <%- name_values %>
    $(document).ready(function() {
      createChart(myobj);
    });
  </script>

</head>
<body>
  <div class="titleDiv">
    <h1 class="title" name="question"><%= question %></h1>
  </div>
  <div class="container">
    <canvas id="myChart"></canvas>
    <h2 class="voters">Voters names:</h2>
    <ul class="names">
      <% for (let i = 0; i < user_names.length; i++) { %>
        <li class="user_names"><%= user_names[i] %></li>
        <% } %>
      </ul>
  </div>
</body>
</html>
