<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decision Maker: Home Page</title>
    <body>
    <% include partials/_header %>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</body> 
</head>

  <section>
    <h2>Create Your Own Decision Poll</h2>
    <form  method="POST" action="/tweets/">
      <textarea  id ="title" placeholder="Title?"></textarea>
      <textarea  id="description" placeholder="Description"></textarea>
      <textarea  id= "decision" placeholder="Decision"></textarea>
      <button>Add</button>
      <input class="click" type="submit" value="Create">
    
    </form>
  </section>

  </body>
</html>