<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Home Page</title>

<body>
  <% include partials/_header %>
  <link regitl="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
<style>
  textarea{
  display:block;
  margin-bottom: 20px;
  width:250px;
}
</style>

</head>

<body>
  <section>
    <h2>Create Your Own Decision Poll</h2>
    <form id='form' method="POST" action="/poll/:id">
      <textarea id="email" name="email" placeholder="Your Email"></textarea>
      <textarea id="poll_title" name="poll_title" placeholder="Title of This Poll"></textarea>
      <textarea id="description" name="description" placeholder="Description(Optional)"></textarea>
      <ol id="decisions">
        <li><textarea class="decision" name="decision" placeholder="decision"></textarea></li>
        <li><textarea class="decision" name="decision" placeholder="decision"></textarea></li>
      </ol>
      <input class="click" type="submit" value="Send Data">
    </form>
    <button id="add">Add</button>
  </section>

</body>
</body>

</html>
