<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Home Page</title>

<body>
  <% include partials/_header %>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
<style>
  textarea{
  display:block;
}
</style>

</head>

<body>
  <section>
    <h2>Create Your Own Decision Poll</h2>
    <form id='form' method="POST" action="/poll/:id">
      <textarea id="title" placeholder="Title"></textarea>
      <textarea id="description" placeholder="Description"></textarea>
      <textarea id="question" placeholder="question"></textarea>
      <textarea class="decision" placeholder="decision"></textarea>

      <input class="click" type="submit" value="Send Data">
    </form>
    <button id="add">Add</button>
  </section>
  <!-- <section class="section_decisions">
    <div class="div_decision">Dance<Button class="button_edit">Edit</Button><Button class="button_delete">Delete</Button></div>
    <div class="div_decision">Sing<Button class="button_edit">Edit</Button><Button class="button_delete">Delete</Button></div>
    <div class="div_decision">Wave<Button class="button_edit">Edit</Button><Button class="button_delete">Delete</Button></div>
    <div class="div_decision">Jump<Button class="button_edit">Edit</Button><Button class="button_delete">Delete</Button></div>
    <div class="div_decision">Climb<Button class="button_edit">Edit</Button><Button class="button_delete">Delete</Button></div>
    <div class="div_decision">Sleep<Button class="button_edit">Edit</Button><Button class="button_delete">Delete</Button></div>
    <div class="div_decision">Bend<Button class="button_edit">Edit</Button><Button class="button_delete">Delete</Button></div>
  </section> -->
  <!-- <button id="send">Send to server!!!!</button> -->
</body>
</body>

</html>
