<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Home Page</title>
  <link rel="stylesheet" href=/styles/welcome.css type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/home_page.css" type="text/css" />


</head>

<body class="homepage">
    <h1 class="text">Welcome</h1>
    <button class="create" type="button" onclick="window.location.href='/poll/create'">Create A Poll Now</button>
</body>

</html>
