<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Home Page</title>
  <% include partials/_header %>
  <link rel="stylesheet" href="animate.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/links.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <section class="container">
    <h2 class="title animated fadeInDown">Click The Links Below!</h2>
    <button class="sub" type="button" onclick="window.location.href='/sub/poll/<%= id %>'">Submissions page</button>
      <div></div>
    <button class="admin" type="button" onclick="window.location.href='/admin/poll/<%= id %>'">Administration page</button>
  </section>
</body>

</html>
