<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decision Maker: Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <section>
    <h2>CHoose Wisely</h2>
   
    <button type="button" action="/:id/sub">Submission!</button>
    <button type="button" action="/admin">Administration!</button>

  </section>

  </body>
</html>