<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Maker: Home Page</title>
  <% include partials/_header %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/sub.css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/sub.js"></script>
  <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
</head>
<body>
  <div class="details">
    <h2 class="title">What is your favourite?</h2>
    <h4 class= "description">Description: insert dynamic description within html</h4>
  </div>
  <section class="list">
    <div class="a1">
      <ul id="dataItems">
        
        <li class="listItem">alalala</li>
        <li class="listItem">guagua</li>
        <li class="listItem">comeon</li>
      </ul>
    </div>
  </section>
  <button id="sub">Submit</button>
</body>
</html>
