<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker: Home Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/sub.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>

  <style>
    html {
      margin: 20px 20px 20px 20px;
    }

    ol {
      margin: 10px;
      font-size: 20px;
    }

    .glyphicon-move {
      cursor: move;
      cursor: -webkit-grabbing;
    }

  </style>



</head>

<section>
  <h2>Here Are the Decision You Made</h2>
  <div>Description: These activities are pretty awesome</div>

  <ol id="data">
    <h1>Here is the ranking</h1>
    <li class="decision">dance</li>
    <li class="decision">sing</li>
    <li class="decision">ha</li>
    <li class="decision">wave</li>
  </ol>
  <ol id="option">
    <h1>Put Into Here to Rank</h1>
    <li class="decision">alalala</li>
    <li class="decision">guagua</li>
    <li class="decision">comeon</li>
  </ol>
</section>
<button id="sub">Submit</button>
</body>

</html>
