body {
  background-color: #666666;
  z-index: 0;
  padding-bottom: 100px;
}
.container {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  padding-bottom: 15px;
  background-color: #afafaf;
  min-height: 200px;
  min-width: 200px;
}
.title {
  text-align: center;
}
.voters {
  margin-left: 20px;
}
.names {
  list-style-type: none;
}
.sub {
  display: block;
  margin: 0 auto;
  min-width: inherit;
  border: solid;
  border-color: #afafaf;
  border-radius: 15px;
}
.sub:hover {
  opacity: .7;
}
