.main_body {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: #afafaf;
  padding-bottom: 30px;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
  margin-top: 40px;
  color: #6810cc;
  box-shadow: 0 4px 8px 0 #692DB5, 0 6px 20px 0 #692DB5;
}

.click {
  display: inline-block;
}

textarea {
  display: block;
  margin-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#email {
  margin-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background-color: #666666;
}

.head {
  margin-left: 20px;
  margin-right: 20px;
}

html {
  text-align: center;
}

ol {
  text-align: center;
  list-style-position: inner;
  list-style-type: none;
  margin-right: auto;
  padding-left: 0;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    border-radius: .5em;
    border: 1px solid;
    box-shadow:1px 1px 3px #888;
    padding-right: 5px;
    padding-left: 5px;
    display: none;
    text-align: center;
    margin-top: 10px;
}
