textarea {
  display:block;
  margin-bottom: 20px;
  width:250px;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}
#email {
  display:block;
  margin-bottom: 20px;
  width:250px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background-color: #666666;
}

section {
  margin: 20px;
}

.head {
  margin-left: 20px;
}

html {
  text-align: center;
}
ol {
  text-align: center;
  list-style-position: inner;
  margin-left: 5px;
  list-style-type: none;
  margin-right: auto;
  padding-left: 0;
}

.error{
  color: #DB7979;
  font-weight: bold;
  font-style: oblique;
  display:none;
}

