body {
  background-color: #666666;
}

.container {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: #afafaf;
  padding-bottom: 30px;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
  margin-top: 40px;
  color: #692DB5;
  box-shadow: 5px 3px 0px 8px;
}

h2 {
  color: black;
}

button {
  text-align: center;
  min-width: inherit;
  margin-left: 10%;
  margin-right: 10%;
  border: solid;
  border-color: #afafaf;
  border-radius: 15px;
}

button:hover {
  opacity: .75;
}

.admin {
  margin-top: 5px;
}
