@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
body {
  background-color: #666666;
  text-align: center;
}
.details {
  margin-left: 20px;
  background-color: #777777;
  border-style: solid;
  border-width: 0px;
  border-radius: 4px;
  margin-right: 20px;
  color: #212121;
}
.title, .description {
  padding: 5px;
}
.list {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.listItem {
  list-style-type: none;
  cursor: move;
  background: #ddd;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: Open sans, Arial;
  margin-right: 1px;
  padding: 5px 10px;
}
.sortable-chosen {
  background: linear-gradient(100deg, #7423b2, #1967c6);
  animation: BackgroundGradient 20s ease infinite;
}
#dataItems {
  padding: 0px;
  margin-bottom: 0;
}
.a1 {
  border-style: solid;
  display: inline-block;
  border-radius: 5px;
}
.a2 {
  border-style: solid;
  display: inline-block;
  border-radius: 5px;
}

#sub {
  margin-left: 22px;
}

#success{
  margin-top: 30px;
  font-size: 30px;
  display:none;
}

#result_link{
  margin-top:20px;
}
#user_name {
  display: inherit;
  margin-left: 44%;
  margin-right: 50%;
  margin-bottom: 8px;
  border: solid;
  border-radius: 5px;
}
